*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main{
    background-color: rgb(212, 241, 232);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main::after{
    content: "";
    border-radius: 59% 38% 10% 13%;
    background-color: rgba(222, 136, 248, 0.5);
    width: 400px;
    aspect-ratio: 1/1;
    position: absolute;
    top: calc(100vh - 200px);
    left: -150px;
}
.main::before{
    content: "";
    border-radius: 100% 38% 90% 23%;
    background-color: rgba(143, 245, 143, 0.5);
    width: 400px;
    aspect-ratio: 1/1;
    position: absolute;
    top: -200px;
    right: -150px;
}
.main--Question{
    z-index: 99;
}

.main--startPage{
    text-align: center;
}
.main--startPage h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    letter-spacing: 0.2cm;
    text-decoration: underline ;
    margin-bottom: 10px;
}
.main--startPage p{
    margin-bottom: 35px;
}
.start--btn{
    padding: 15px 40px;
    border-radius: 10px;
    background-color: rgb(170, 25, 238);
    border: none;
    color: white;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.start--btn:hover{
    background-color: blueviolet;
    box-shadow: 0px 0px 10px gray;
}

.main--questionsPage{
    z-index: 99;
}
.question--topic{
    margin: 30px;

}
.question{
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
.answers--list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}
.answers--list li{
    border: 2px solid black;
    min-width: 100px;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
}

.main--score{
    font-size: 1.4em;
    font-weight: bolder;
    color: black;
}
.main--button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button--check{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: rgb(170, 25, 238);
    border: none;
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.button--check:hover{
    background-color: blueviolet;
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
}